* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f6f2;
  padding: 20px;
    margin-right: 250px;   /* same as sidebar width */


}

.main-container {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.menu-section {
  flex: 2;
  padding: 20px;
  background: #fff5f0;
  border-radius: 12px;
}

.order-summary {
  flex: 1;
  background: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  min-height: 300px;
}

.menu-item {
  background: white;
  margin: 15px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  cursor: pointer;
}
